  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
  
  *{
    margin: 0px;
    padding: 0px;
  }

  body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    max-width: 1440px;
    font-size: 15px;

  }

  .card__main_body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
  }
  .card__inner_body{  
    background-color: white;
    padding: 20px;
    border-radius: 20px; 
    width: 250px;  
  }

  .card__img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .card__word{
    text-align: center;
  }

  h3{
    margin-bottom: 20px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  }

  p{
    margin-bottom: 20px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
  }
  
  .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }